body{
    width: 1000px;
    margin: auto;
}

 .sikertelen>ul{
    list-style-image: url(../img/icon_bad.png);
}

.sikertelen{
    width: 260px;
    border: 2px solid red;
    border-radius: 25px;
    box-shadow: red 5px 5px 10px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    float: left;
}

.sikeres>ul{
    list-style-image: url(../img/icon_good.png);
}

.sikeres{
    position: relative;
    width: 250px;
    border: 2px solid green;
    border-radius: 25px;
    display: inline-block;
    box-shadow: green 5px 5px 10px;
    padding: 15px;
    margin: 10px;
}

img{
    margin: 200px 50px 0 50px;
    float: left;
    width: 150px;
    
}

#box{
    position: absolute;
    top: 350px;
    left: 710px;
    background-color: blue;
    width: 300px;
    text-align: center;
    color: yellow;
    box-shadow: gray 15px 15px 10px;
    font-size: 13px;
    padding: 2px 10px 2px 10px;
    transform:rotate(5deg)
} 